html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
}

#cesiumContainer {
  height: 60vh;
  /* max-width: 1280px;
  margin: 0 auto; */
}

.chart-container {
  /* container with relative positioning required for {responsive: true} chart option */
  position: relative;
  height: 40vh;
  max-width: 1280px;
  margin: 0 auto;
}
